.body {
    font-family : "Goudy Old Style", serif;
}

.container {
    max-width: fit-content;
} 

.header {
    background-color: #597b6a;
    padding: 70px;
    margin-bottom: 50px;
}

.first-name {
    font-size: 45px;
    font-weight: bold;
}

.last-name {
    font-size: 35px;
}

.email,
.phone {
    font-size: 16px;
    margin-top: 5px;
}

.section_title {
    color: #597b6a;
    font-size: 16px;
}

.titre {
    color: #595454;
}