.body {
    font-family : "Goudy Old Style", serif;
}

.container {
    max-width: fit-content;
    display : flex;
} 

.colonne1 {
    flex: 1;
}

.colonne2 {
    flex-basis: 35%;
}

.header {
    background-color: #597b6a;
    padding: 70px;
    margin-bottom: 25px;
}

.first-name {
    font-size: 45px;
    font-weight: bold;
}

.last-name {
    font-size: 35px;
}

.email,
.phone {
    font-size: 16px;
    margin-top: 5px;
}

.section_title {
    color: #597b6a;
    font-size: 18px;
    margin-top: 10px;
}

.titre {
    color: #595454;
}

.lieu-date {
    color: #595454;
}