.body {
    font-family : "Goudy Old Style", serif;
    margin: 0;
    padding: 40px;
    background: white;
}

.header {
    background-color: #597b6a;
    text-align: left;
    margin-bottom: 30px;
}

.first-name {
    font-size: 45px;
    font-weight: bold;
}

.last-name {
    font-size: 35px;
}

.email,
.phone {
    font-size: 18px;
    margin-top: 10px;
}

.layout {
    display : flex;
    gap: 40px;
} 

.colonne1 {
    width: 65%;
}

.colonne2 {
    width: 35%;
}

.section_title {
    color: #2e6b4e;
    font-size: 18px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}

.titre {
    color: #595454;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.lieu-date {
    color: #595454;
    font-size: 15px;
    margin-bottom: 5px;
}

ul {
    font-size: 13px;
    color: #595454;
    margin-top: 5px;
    padding-left: 20px;
}

.ligne {
    border: none;
    border-top: 1px solid #ccc;
    margin: 25px 0;
}

#sommaire {
    font-size: 13px;
    color: #595454;
}

.savoir-faire li {
    font-size: 13px;
    color: #595454;
}

.certifications li {
    font-size: 13px;
    color: #595454;
}